.logo{
    width:120px;
    display: flex;
    
}
.header{
    display: flex;
    border: solid black;
    align-items: center;
    justify-content: space-between;
    background-color: #ee5425;
}
.header .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
   /* padding-right: 100px;*/
}
.nav-items  ul{
    display:flex;
    justify-content: space-between;
}
/*.card{
    width: 110px;
    border: solid black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.img-card{
    width:100%;
    height:100px;
}
.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}*/


.card{
    width: 250px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    
    
    
    
}

.card > img{
    width: 100%;
    border-radius: 10px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
    
}

.card > span > h4{
    text-align: center;
}

.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;
}


.restaurant-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    width:200px;
    background-color: grey;
    height:20px;
    margin-top: 2px;
}
.card-shimmer{
    width: 250px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    height:200px;  
    
}